{% set pageTitle = 'Page Not Found | Dark Castle Fest' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="container box-gap pv-lg">
      <div>
         <h1 class="title">Page Not Found</h1>

         <p>
            Sorry, but this page does not exist.<br>
            <a href="/">Return Home</a>
         </p>
      </div>
   </div>
{% endblock %}
