{% set pageTitle = 'Dark Castle Fest 2023 - Louisville, KY' %}
{% set metaDescription = "Radio Arcane presents Dark Castle Fest. A Gothic Music & Dark Arts Festival featuring performances by Astari Nite, The Kentucky Vampires, and more." %}
{% set metaImage = "/images/dark-castle-festival-2023.jpg" %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="container box-gap">
      <article class="pb-lg">
         <h1 class="title">Dark Castle Fest 2023</h1>

         <section class="grid grid--center grid--collapse">
            <div class="grid-item xs-12 md-6 lg-7">
               <h2 class="mb-0">
                  <a class="text-default" href="https://www.radio-arcane.com" target="_blank">Radio Arcane</a> presents Dark Castle Fest<br>
                  A Gothic Music & Dark Arts Festival
               </h2>

               <p class="text-secondary">
                  <time datetime="2023-07-28">Friday July 28, 2023</time> and <time datetime="2023-07-29">Saturday July 29, 2023</time><br>
                  Louisville, Kentucky
               </p>

               <p class="mb-0 text-secondary">Featuring live performances by:</p>

               <ul class="inline-list">
                  {% for band in performers %}
                     {% if band.year == 2023 and band.type == 'band' %}
                        <li>
                           {{ band.name }}
                        </li>
                     {% endif %}
                  {% endfor %}
               </ul>

               <p class="mb-0 text-secondary">DJs:</p>

               <ul class="inline-list">
                  {% for dj in performers %}
                     {% if dj.year == 2023 and dj.type == 'dj' %}
                        <li>
                           {{ dj.name }}
                        </li>
                     {% endif %}
                  {% endfor %}
               </ul>

               <p>
                  <span class="text-secondary">Facilitator of Festivities &ndash;</span> Father James Mitchell<br>
                  <span class="text-secondary">Vendors &ndash;</span> <a href="https://www.facebook.com/darkmarketky" target="_blank">The Dark Market</a><br>
                  <span class="text-secondary">Food Truck &ndash;</span> <a href="https://www.facebook.com/FrightBites" target="_blank">Fright Bites</a>
               </p>

               <a class="btn btn--primary" href="{{ tickets }}" target="_blank">
                  <img src="/images/icons/ticket.svg" class="icon ml-0" aria-hidden="true" inline /> <span class="inline-block">Purchase Tickets</a>
               </a>

               <div class="location">
                  <img src="/images/icons/location.svg" class="icon ml-0" aria-hidden="true" inline />
                  <a class="location-title" href="https://www.art-sanctuary.org" target="_blank">Art Sanctuary</a>
                  <span class="location-address">
                     1433 S Shelby St.<br>
                     Louisville, Kentucky 40217
                  </span>
               </div>
            </div>
            <div class="grid-item xs-12 sm-10 md-6 lg-5 text-center">
               <figure>
                  {{ img.picture(
                     jpg="/images/dark-castle-festival-2023-gothic-music.jpg",
                     webp="/images/dark-castle-festival-2023-gothic-music.webp",
                     avif="/images/dark-castle-festival-2023-gothic-music.avif",
                     alt="Dark Castle Festival 2023 Poster"
                  )}}
               </figure>
            </div>
         </section>
      </article>

      <aside class="pb-sm">
         <h3 class="title">Sponsors</h3>

         <div class="cards">
            <div class="card">
               <div class="card-header">
                  <h4 class="card-title">
                     Moon Coil Media
                  </h4>
               </div>

               <div class="card-content">
                  <p>
                     Moon Coil Media is the premier PR & artist management agency specializing in the following genres: goth, industrial, ebm, darkwave, post-punk, synthpop, horror punk, deathrock & extreme metal.
                  </p>
               </div>

               <footer class="card-footer performer-card-footer">
                  <a href="https://mooncoilmedia.com" 
                     target="_blank" 
                     title="Moon Coil Media Official Website"
                     aria-label="Moon Coil Media Official Website" 
                     class="performer-card-link"
                  >
                     <img src="/images/icons/official.svg" inline class="icon" aria-hidden="true" />
                  </a>

                  <a href="https://www.facebook.com/Moon-Coil-Media-106151935362238" 
                     target="_blank" 
                     title="Moon Coil Media @ Facebook"
                     aria-label="Moon Coil Media @ Facebook" 
                     class="performer-card-link"
                  >
                     <img src="/images/icons/facebook.svg" inline class="icon" aria-hidden="true" />
                  </a>

                  <a href="https://www.instagram.com/mooncoilmedia" 
                     target="_blank" 
                     title="Moon Coil Media @ Instagram"
                     aria-label="Moon Coil Media @ Instagram" 
                  >
                     <img src="/images/icons/instagram.svg" inline class="icon" aria-hidden="true" />
                  </a>

                  <a href="https://twitter.com/MoonCoilMedia" 
                     target="_blank" 
                     title="Moon Coil Media @ Twitter"
                     aria-label="Moon Coil Media @ Twitter" 
                  >
                     <img src="/images/icons/twitter.svg" inline class="icon" aria-hidden="true" />
                  </a>
               </footer>
            </div>
         </div>
      </aisde>
{% endblock %}

{% block custom_scripts %}
   <script type="application/ld+json">
      {{ jsonLd['2023'] |safe }}
   </script>
{% endblock %}
