{% set pageTitle = 'Info & Tickets | Dark Castle Fest' %}

{% set metaDescription = "Dark Castle Fest 2023 tickets are available now. July 2023 Gothic Music Festival." %}

{% set metaImage = "/images/dark-castle-festival-2023-poster.jpg" %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <article class="container box-gap">
      <section id="tickets" class="pb-sm">
        <h2 class="title">Tickets</h2>

         <p>
            Dark Castle Fest 2023 tickets are available now.
         </p>

         <p>
            18+ entry<br>
            21+ bar
         </p>

         <p>
           <strong>Ticket Options:</strong><br>
            Weekend Pass &ndash; $65<br>
            <sup class="text-secondary">*</sup>Babacastillo Pass &ndash; $95<br>
            Single Day Pass - $45
         </p>

         <a class="btn btn--primary" href="{{ tickets }}" target="_blank">
            <img src="/images/icons/ticket.svg" class="icon ml-0" aria-hidden="true" inline /> <span class="inline-block">Purchase Tickets</a>
         </a>

         <p class="text-secondary">
            <small>
               <sup>*</sup>Babacastillo Pass details: Full event pass plus event t-shirt, event poster autographed by The Kentucky Vampires, two event stickers, single packet of Taco Bell Fire Sauce autographed by Albie Mason of Scary Black and an option for a free pic taken with Dark Castle monster Babacastillo.
            </small>
         </p>
      </section>

      <section id="social" class="pb-sm">
         <h2 class="title">Festival Announcements</h2>

         <p>
            To keep up on the latest news and announcements, please consider following Dark Castle Fest at the links below:
         </p>

         <ul class="list-unstyled">
            <li>
               <a href="{{ social.facebookEvent }}" target="_blank">
                  2023 Facebook Event Page
               </a>
            </li>
            <li>
               <a href="{{ social.facebook }}" target="_blank">
                  Dark Castle Fest @ Facebook
               </a>
            </li>
            <li>
               <a href="{{ social.instagram }}" target="_blank">
                  Dark Castle Fest @ Instagram
               </a>
            </li>
         </ul>
      </section>

      <section id="venue" class="pb-sm">
         <h2 class="title">Venue Information</h2>

         <div class="location">
            <img src="/images/icons/location.svg" class="icon ml-0" aria-hidden="true" inline />
            <span class="location-title">Art Sanctuary</span>
            <span class="location-address">
               1433 S Shelby St.<br>
               Louisville, Kentucky 40217
            </span>
         </div>

         <ul class="list-unstyled">
            <li>
               <a href="https://www.google.com/maps/place/Art+Sanctuary/@38.2264103,-85.7413458,15z/data=!4m2!3m1!1s0x0:0xe8b5fa85d9ebd15f?ved=2ahUKEwjD0efWu_rfAhVKhq0KHV-nAdMQ_BIwDnoECAEQCA" target="_blank">
                  Map / Directions
               </a>
            </li>
            <li>
               <a href="https://www.art-sanctuary.org/" target="_blank">
                  Official Website
               </a>
            </li>
            <li>
               <a href="https://www.facebook.com/pages/category/Arts---Entertainment/Art-Sanctuary-122260903695" target="_blank">
                  Art Sanctuary @ Facebook
               </a>
            </li>
         </ul>
      </section>

      <section id="schedule" class="pb-sm">
        <h2 class="title">Schedule</h2>

         <p>
            <time datetime="2023-07-28">Friday July 28, 2023</time> <span class="text-secondary">6:00<small>pm</small> &ndash; 2:00<small>am</small> (EST)</span>
            <br>
            <time datetime="2023-07-29">Saturday July 29, 2023</time> <span class="text-secondary">6:00<small>pm</small> &ndash; 2:00<small>am</small> (EST)</span>
         </p>

         <p>
            Visit our <a href="/lineup/#schedule">Lineup Page</a> to view the festival itinerary. 
         </p>
      </section>

      <section id="lodging" class="pb-sm">
        <h2 class="title">Lodging</h2>

        <p>
            The nearest hotel to the venue is the Quality Inn & Suites.<br>
            Approximately a three minutes drive (0.9 mile), and right off of the interstate.
        </p>

        <p>
            Quality Inn & Suites University/Airport<br>
            311 E Gaulbert Ave<br>
            Louisville, KY 40208<br>
            <a href="https://www.google.com/travel/hotels/Quality%20Inn%20%26%20Suites%20University%2FAirport/entity/CgsI8tCd0ZP7x77cARAB/prices?q=Quality%20Inn%20%26%20Suites%20University%2FAirport" target="_blank">Booking Options</a>
        </p>

        <p>Several nearby vacation rentals can also be found on Airbnb and Vrbo.</p> 

        <p>
            Additional resources: <a href="https://www.gotolouisville.com/hotels" target="_blank">https://www.gotolouisville.com/hotels/</a>
        </p>
      </section>


      <section id="sponsors" class="pb-lg">
        <h2 class="title">Sponsors</h2>

        <div class="cards">
            <div class="card">
               <div class="card-header">
                  <h4 class="card-title">
                     Moon Coil Media
                  </h4>
               </div>

               <div class="card-content">
                  <p>
                     Moon Coil Media is the premier PR & artist management agency specializing in the following genres: goth, industrial, ebm, darkwave, post-punk, synthpop, horror punk, deathrock & extreme metal.
                  </p>
               </div>

               <footer class="card-footer performer-card-footer">
                  <a href="https://mooncoilmedia.com" 
                     target="_blank" 
                     title="Moon Coil Media Official Website"
                     aria-label="Moon Coil Media Official Website" 
                     class="performer-card-link"
                  >
                     <img src="/images/icons/official.svg" inline class="icon" aria-hidden="true" />
                  </a>

                  <a href="https://www.facebook.com/Moon-Coil-Media-106151935362238" 
                     target="_blank" 
                     title="Moon Coil Media @ Facebook"
                     aria-label="Moon Coil Media @ Facebook" 
                     class="performer-card-link"
                  >
                     <img src="/images/icons/facebook.svg" inline class="icon" aria-hidden="true" />
                  </a>

                  <a href="https://www.instagram.com/mooncoilmedia" 
                     target="_blank" 
                     title="Moon Coil Media @ Instagram"
                     aria-label="Moon Coil Media @ Instagram" 
                  >
                     <img src="/images/icons/instagram.svg" inline class="icon" aria-hidden="true" />
                  </a>

                  <a href="https://twitter.com/MoonCoilMedia" 
                     target="_blank" 
                     title="Moon Coil Media @ Twitter"
                     aria-label="Moon Coil Media @ Twitter" 
                  >
                     <img src="/images/icons/twitter.svg" inline class="icon" aria-hidden="true" />
                  </a>
               </footer>
            </div>
         </div>
      </section>
   </article>
{% endblock %}