{% set pageTitle = 'DJs | Dark Castle Fest' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% set years = [
   2023
] %}

{% block main %}
   <div class="container box-gap">
      <h1 class="title">DJs</h1>

      <p>DJs who have performed at past Dark Castle events and/or are scheduled to perform in the future.</p>

      {% for yr in years %}
         <section>
            <h2 class="title">Dark Castle Fest {{ yr }}</h2>

            <ul class="inline-list">
               {% for dj in performers %}
                  {% if dj.year == yr and dj.type == 'dj' %}
                     <li>
                        <a href="{{ dj.path }}">
                           {{ dj.name }}
                        </a>
                     </li>
                  {% endif %}
               {% endfor %}
            </ul>
         </section>

         <hr>
      {% endfor %}
   </div>
{% endblock %}