{
  "presets": [
     ["@babel/preset-env",
       {
          "useBuiltIns": "entry",
          "corejs": 2
      }
   ],
 ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    ["module:babel-project-relative-import", {
      "sourceDir": "src/"
    }]
  ]
}
