{% set menu = [{
   title: 'Home',
   path: '/'
}, {
   title: 'Lineup',
   path: '/lineup'
}, {
   title: 'Info & Tickets',
   path: '/info'
}, {
   title: 'Archive',
   path: '/archive'
}] %}

{% import '_macros/image.njk' as img %}

<footer id="footer" class="footer" role="contentinfo">
   <div class="footer-container">
      <div class="footer-info">
         {{ img.lazyPic(
            jpg="/images/radio-arcane-logo.jpg",
            webp="/images/radio-arcane-logo.webp",
            avif="/images/radio-arcane-logo.avif",
            alt="Radio Arcane"
         )}}

         <p>
            Dark Castle Fest<br>
            Gothic Music & Dark Arts Festival<br>
            Presented by <a href="https://www.radio-arcane.com" target="_blank">Radio Arcane</a>
         </p>
      </div>

      <nav class="footer-nav">
         <ul class="footer-menu">
            {% for item in menu %}
               {% set ariaCode =  "" %}

               {% if item.path == currPage %}
                  {% set ariaCode =  'aria-page="current"' %}
               {% endif %}

               <li class="footer-menu-item">
                  <a class="footer-menu-link" href="{{ item.path }}" {{ ariaCode |safe }}>
                     {{ item.title }}
                  </a>
               </li>
            {% endfor %}
         </ul>
      </nav>

      <address class="footer-social">
         {% include "_partials/social-icons.njk" %}
      </address>

      <div class="footer-copy">
         <p>© {{ year }} Radio Arcane</p>
      </div>
   </div>
</footer>
