<footer id="footer" class="footer" role="contentinfo">
   <div class="container">
      <div class="footer-copy text-center m-0">
         <p>© {{ year }} <a href="https://www.radio-arcane.com" target="_blank">Radio Arcane</a></p>
      </div>
   </div>
</footer>
