{% import '_macros/image.njk' as img %}

{% set menu = [{
   title: 'Home',
   path: '/'
}, {
   title: 'Lineup',
   path: '/lineup'
}, {
   title: 'Info & Tickets',
   path: '/info'
}, {
   title: 'Archive',
   path: '/archive'
}] %}

{% import '_macros/image.njk' as img %}

<header id="masthead" class="masthead" role="banner">
   <div class="masthead-top">
      <div class="masthead-brand">
         <a href="/">
            {{ img.picture(
               jpg="/images/banner-3.jpg",
               webp="/images/banner-3.webp",
               avif="/images/banner-3.avif",
               alt="Dark Castle Fest"
            )}}
         </a>
      </div>

      <button id="menu-toggle" 
              class="menu-toggle" 
              title="Open Menu" 
              aria-label="Open Menu" 
              aria-haspopup="true"
              aria-controls="navigation-menu"
              aria-expanded="false"
         >
         <span></span>
         <span></span>
         <span></span>
      </button>
   </div>

   <div class="masthead-nav">
      <nav id="navigation" class="mast-nav">
         <ul id="navigation-menu" class="nav-menu" aria-labelledby="navigation-menu" role="menu">
            {% for item in menu %}
               {% set ariaCode =  "" %}

               {% if item.path == currPage %}
                  {% set ariaCode =  'aria-page="current"' %}
               {% endif %}

               <li class="nav-menu-item" role="menuitem">
                  <a class="nav-menu-link" href="{{ item.path }}" {{ ariaCode |safe }}>
                     {{ item.title }}
                  </a>
               </li>
            {% endfor %}
         </ul>
      </nav>

      <address class="masthead-social">
         {% include "_partials/social-icons.njk" %}
      </address>
   </div>
</header>
