{% set metaPageTitle = pageTitle if pageTitle else siteName %}

<title>{{ metaPageTitle }}</title>

{% if canonical %}
   <link rel="canonical" href="{{ canonical }}">
{% endif %}

{% if metaDescription %}
   <meta name="description" content="{{ metaDescription | truncate(252, true, '...') }}">
{% endif %}

{% if metaKeywords %}
   <meta name="keywords" content="{{ metaKeywords }}">
{% endif %}

{% if canonical %}
   <meta property="og:site_name" content="{{ siteName }}">
   <meta property="og:title" content="{{ metaPageTitle }}">
   <meta property="og:locale" content="en_US">

   {% if metaDescription %}
      <meta name="og:description" content="{{ metaDescription | truncate(252, true, '...') }}">
   {% endif %}

   {% if metaImage %}
      <meta property="og:image" content="{{ domain + metaImage }}">
   {% else %}
      <meta property="og:image" content="{{ domain }}/images/dark-castle-festival-2023-poster.jpg">
   {% endif %}

   <meta property="og:type" content="website">
   <meta property="og:url" content="{{ canonical }}">
{% endif %}
