<ul class="social-nav">
   <li class="social-nav_item">
      <a href="{{ social.facebook }}" 
         target="_blank" 
         class="social-nav_link" 
         title="Dark Castle Fest @ Facebook" 
         aria-label="Dark Castle Fest @ Facebook"
      >
         <img inline src="/images/icons/facebook-square.svg" class="icon" aria-hidden="true" />
      </a>
   </li>
   <li class="social-nav_item">
      <a href="{{ social.instagram }}" 
         target="_blank" 
         class="social-nav_link" 
         title="Dark Castle Fest @ Instagram" 
         aria-label="Dark Castle Fest @ Instagram"
      >
         <img inline src="/images/icons/instagram.svg" class="icon" aria-hidden="true" />
      </a>
   </li>
</ul>
