.event-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--size-gap);
}

.event-card {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .event-card {
        width: 48%;
    }   
}

@media screen and (min-width: 900px) {
    .event-cards {
        gap: calc(var(--size-gap) * 2);
    }

    .event-card {
        width: 30%;
    }   
}

.event-card-date {
    color: var(--color-text-secondary);
    font-size: 75%;
}