:root {
    --xs: 0;
    --sm: 600px;
    --md: 900px;
    --lg: 1200px;
    --xl: 1536px;

    --white: #fff;
    --black: #000;

    --font-heading: Bellefair, serif;
    --font-body: Roboto, sans-serif;

    --hover-opacity: 0.08;

    --color-primary: #fff;

    --color-text: rgba(255, 255, 255, 0.87);
    --color-text-secondary: rgba(255, 255, 255, 0.65);
    --color-text-disabled: rgba(255, 255, 255, 0.5);

    --color-text-hover: rgba(255, 255, 255, var(--hover-opacity));

    --color-accent: rgba(187, 134, 252, 0.87);

    /* youtube pallete */
    --background: #181818;
    --background-mid: #212121;
    --background-dark: #121212;

    --border-radius: 4px;

    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 64px;

    --space-unit: 16px;

    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));

    --size-content: 54rem;
    --size-gap: var(--space-3);

    --text-base-size: 18px;
    --text-max-size: 22px;       

    --max-width: 1400px;
}

@media screen and (min-width: 1200px) {
    :root {
        --text-base-size: 22px;
    }
}