---
import { SEO } from "astro-seo";
import Layout from "../layouts/Base.astro";
---

<Layout>
   <SEO
      slot="seo"
      title="Page Not Found | Dark Castle Fest - Louisville, KY"
      noindex={true}
   />

   <div class="container box-gap">
      <div class="pb-lg">
         <h1 class="title">Page Not Found</h1>
      </div>
   </div>
</Layout>
