---

---

<div class="schedule-container">
   <time class="schedule-day" datetime="2025-10-31">
      <h4>Friday - Halloween</h4>

      <ol>
         <li>
            <time datetime="2025-10-31T18:30:00">06:30</time><span>Doors Open</span>
         </li>
         <li>
            <time datetime="2025-10-31T19:00:00">07:00</time><span>Pas Musique</span>
         </li>
         <li>
            <time datetime="2025-10-31T19:45:00">07:45</time><span>Lord Overstreet</span>
         </li>
         <li>
            <time datetime="2025-10-31T20:30:00">08:30</time><span>Va Va Vixens</span>
         </li>
         <li>
            <time datetime="2025-10-31T21:00:00">09:00</time><span>Motuvius Rex</span>
         </li>
         <li>
            <time datetime="2025-10-31T21:45:00">09:45</time><span>WitchHands</span>
         </li>
         <li>
            <time datetime="2025-10-31T22:30:00">10:30</time><span>Amulet</span>
         </li>
         <li>
            <time datetime="2025-10-31T23:15:00">11:15</time><span>Ak&rsquo;chamel</span>
         </li>
         <li>
            <time datetime="2025-11-01T00:00:00">Midnight to Close</time><span>DJ Count Grozny</span>
         </li>
      </ol>
   </time>
   <time class="schedule-day" datetime="2025-11-01">
      <h4>Saturday - Day of the Dead</h4>

      <ol>
         <li>
            <time datetime="2025-11-01T18:30:00">06:30</time><span>Doors Open</span>
         </li>
         <li>
            <time datetime="2025-11-01T19:00:00">07:00</time><span>Sinister Senile</span>
         </li>
         <li>
            <time datetime="2025-11-01T19:45:00">07:45</time><span>Dark Mountain Orchidt</span>
         </li>
         <li>
            <time datetime="2025-11-01T20:30:00">08:30</time> <span>Va Va Vixens</span>
         </li>
         <li>
            <time datetime="2025-11-01T21:00:00">09:00</time><span>Dead Cool</span>
         </li>
         <li>
            <time datetime="2025-11-01T21:45:00">09:45</time><span>Feyleux</span>
         </li>
         <li>
            <time datetime="2025-11-01T22:30:00">10:30</time><span>The Kentucky Vampires</span>
         </li>
         <li>
            <time datetime="2025-11-01T23:05:00">11:05</time><span>Brian Wolff Memorial</span>
         </li>
          <li>
            <time datetime="2025-11-01T23:15:00">11:15</time><span>Silver Rein</span>
         </li>
         <li>
            <time datetime="2025-11-02T00:00:00">Midnight to Close</time><span>DJ Count Grozny</span>
         </li>
      </ol>
   </time>
</div>
<style>
   .schedule-container {
      display: flex;
      flex-wrap: wrap;
   }

   .schedule-day {
      width: calc(100% / 2);
      display: block;
      width: 100%;
   }

   h4 {
      color: var(--color-text-secondary);
   }

   ol {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
   }

   ol li {
      white-space: collapse;
   }

   ol time::after {
    content: "–";
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
   }

   @media screen and (min-width: 900px) {
      .schedule-day {
         width: calc(100% / 2);
      }
   }
</style>


