---

---

<div class="schedule-container">
   <time class="schedule-day" datetime="2024-09-26">
      <h4>Thursday, September 26th</h4>

      <ul>
         <li>Iris Marlowe</li>
         <li>The Dead Speak</li>
         <li>Saddle of Southern Darkness</li>
         <li>Silver Rein</li>
         <li>Molly's Midnight Villains</li>
         <li>
            DJ Count Grozny<br />
            Evening Tea<br />
            <small
               ><em
                  >A rare live showing of epic Italian film Maciste In Hell
                  (1925)</em
               ></small
            >
         </li>
      </ul>
   </time>
   <time class="schedule-day" datetime="2024-09-27">
      <h4>Friday, September 27th</h4>

      <ul>
         <li>The Kentucky Vampires</li>
         <li>Blood Dance</li>
         <li>Motuvius Rex</li>
         <li>Clubdrugs</li>
         <li>Tokyo Teens</li>
         <li>Bat Noise</li>
         <li>Sinister Senile</li>
         <li>DJ Creepy Crawly & DJ Ichabod</li>
      </ul>
   </time>
   <time class="schedule-day" datetime="2024-09-28">
      <h4>Saturday, September 28th</h4>

      <ul>
         <li>Astari Nite</li>
         <li>The Neuro Farm</li>
         <li>Frenchy and the Punk</li>
         <li>
            Of Limestone, Chlorophyll, and Bones<br />
            <small><em>a wearable art experience by Edwin Ramirez</em></small>
         </li>
         <li>Ghost Painted Sky</li>
         <li>Attic Eyes</li>
         <li>Sombre Arcane</li>
         <li>DJs Dead Souls Gothic Lounge</li>
      </ul>
   </time>
</div>
<style>
   .schedule-container {
      display: flex;
      flex-wrap: wrap;
   }

   .schedule-day {
      width: calc(100% / 3);
      display: block;
      width: 100%;
   }

   h4 {
      color: var(--color-text-secondary);
   }

   @media screen and (min-width: 900px) {
      .schedule-day {
         width: calc(100% / 3);
      }
   }
</style>
