{% set pageTitle = 'Bands | Dark Castle Fest' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% set years = [
   2023,
   2022
] %}

{% block main %}
   <div class="container box-gap">
      <h1 class="title">Bands</h1>

      <p>Artists who have performed at past Dark Castle events and/or are scheduled to perform in the future.</p>

      {% for yr in years %}
         <section>
            <h2>Dark Castle Fest {{ yr }}</h2>

            <ul class="inline-list">
               {% for band in performers %}
                  {% if band.year == yr and band.type == 'band' %}
                     <li>
                        <a href="{{ band.path }}">
                           {{ band.name }}
                        </a>
                     </li>
                  {% endif %}
               {% endfor %}
            </ul>
         </section>

         <hr>
      {% endfor %}
   </div>
{% endblock %}