<!DOCTYPE html>
<html lang="{{ language }}">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">

      {% block meta %}
         {% include "_partials/seo.njk" %}
      {% endblock %}

      {% include "_partials/favicons.njk" %}

      <link rel="stylesheet" href="/css/main.css?v={{ cacheBust }}">

      {% block custom_styles %}{% endblock %}
   </head>
   <body>
      <div id="root">
         {% include "_components/header.njk" %}

         <main id="main" role="main">
            {% block main %}
            {% endblock %}
         </main>

         {% include "_components/footer.njk" %}
      </div>

      {% block footer_scripts %}
         {% include "_partials/footer-scripts.njk" %}
      {% endblock %}

      {% block custom_scripts %}{% endblock %}
   </body>
</html>
