{% set pageTitle = dj.name + ' | Dark Castle Fest' %}

{% set metaDescription = dj.textContent %}
{% set metaImage = dj.image %}

{% set lineupPath = "/archive/" + dj.year %}

{% if dj.year == currYear %}
   {% set lineupPath = "/lineup" %}
{% endif %}

{% set crumbs = [{
   path: '/',
   title: 'Dark Castle Fest'
}, {
   path: lineupPath,
   title: dj.year + ' Lineup'
}, {
   path: '/djs/' + dj.slug,
   title: dj.name
}] %}


{% import '_macros/image.njk' as img %}
{% import '_macros/breadcrumb.njk' as breadcrumb %}

{% extends '_layouts/default.njk' %}

{% block main %}
<div class="container box-gap">
   {{ breadcrumb.breadcrumb(crumbs) }}

   <article id="{{ dj.slug }}" class="l-performer">
      <header class="l-performer-header">
         <h1 class="l-performer-title">{{ dj.name }}</h1>
      </header>

      <section class="l-performer-info">
         <p class="l-performer-location mb-0">
            <span aria-label="Location">
               <img src="/images/icons/location.svg" inline class="icon" aria-hidden="true" />
            </span>
            <span>{{ dj.location }}</span>
         </p>

         <p class="mb-0">
            Dark Castle Fest {{ dj.year }}
         </p>
      </section>

      <section>
         <figure class="l-performer-figure">
            {{ img.picture(
                  jpg=dj.image,
                  webp=dj.imageWebp,
                  avif=dj.imageAvif,
                  alt=dj.name,
                  className="l-performer-img"
            ) }}
         </figure>

         <div class="l-performer-bio">
            {% for item in dj.content %}
               <p>{{ item.text }}</p>
            {% endfor %}
         </div>
      </section>

      <footer class="l-performer-footer">
         <section class="l-performer-links">
            {% for name, link in dj.links %}
               {% if link %}
                  <a href="{{ link }}" 
                     target="_blank" 
                     title="{{ dj.name }} @ {{ name | capitalize }}"
                     aria-label="{{ dj.name }} @ {{ name | capitalize }}" 
                     class="l-performer-link"
                  >
                     <img src="/images/icons/{{ name }}.svg" inline class="icon" aria-hidden="true" />
                  </a>
               {% endif %}
            {% endfor %}
         </section>

         <hr />

         <section class="l-perfomer-secondary">
            {% if dj.year == 2023 %}
               <a class="btn btn--primary" href="{{ tickets }}" target="_blank">
                  <img src="/images/icons/ticket.svg" class="icon ml-0" aria-hidden="true" inline /> <span class="inline-block">Purchase Tickets</a>
               </a>
            {% endif %}

            <p>
               {% if dj.year == 2023 %}
                  <a href="/lineup">
                     <span class="inline-block">View the full Dark Castle Fest {{ dj.year }} Lineup</span> <img src="/images/icons/right-open.svg" class="icon" aria-hidden="true" inline />
                  </a>
               {% else %}
                  <a href="/archive/{{ dj.year }}">
                     <span class="inline-block">View the full Dark Castle Fest {{ dj.year }} Lineup</span> <img src="/images/icons/right-open.svg" class="icon" aria-hidden="true" inline />
                  </a>
               {% endif %}
            </p>
         </section>
      </footer>         
   </article>
</div>
{% endblock %}
